<p>test works!</p>
<div *ngIf="auth.loggedIn">{{ this.auth.loggedIn }}</div>

<button (click)="testLogin()">Test Login</button>
<button (click)="testLogout()">Test Logout</button>
<button (click)="testAPI()">Test Auth API</button>
<button (click)="testAPI2()">Test testapi</button>
<button (click)="testAdmin()">Test Admin</button>
<button (click)="testModerator()">Test Moderator</button>
<button (click)="testGetData()">Test user data</button>
<button (click)="testLoggedOut()">Test signin not required</button>
<button (click)="testAddAdmin()">Test add Admin</button>
<button (click)="testRemoveAdmin()">Test remove Admin</button>
